.LargeInput-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 24px 0 24px;
    gap: 8px;
    width: 798px;
    height: 122px;
    margin-top: 25px;
    margin-bottom: 0%;
}

.LargeInput-header {
    display: flex;
    width: 798px;
    height: 21px;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;

}


.err-LargeInput-header {
    display: flex;
    width: 798px;
    height: 21px;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color:  #E52F2F;

}

.LargeInput-note {
    width: 798px;
    height: 21px;

    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #2E2E2E;
}


.LargeInput-input:focus {
    outline: #BCBCBC;
}

.err-LargeInput-input {
    width: 798px;
    height: 48px;

    background-color: white;
    border: 1px solid  #E52F2F;
    border-radius: 4px;

}

.LargeInput-input-correct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 798px;
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #98E37E;
    border-radius: 4px;


}

.BsCheckCircle {
    display: flex;
    margin-right: 14.75px;
    color: #98E37E;
    width: 16.5px;
    height: 16.5px;
}
.BsCheckCircle-img {
    display: flex;
    margin-left: 14.75px;
    align-self: center;
    color: #98E37E;
    width: 16.5px;
    height: 16.5px;
}

.LargeInput-input-div {

    width: 798px;
    height: 48px;
    background-color: white;
    border: 1px solid #BCBCBC;
    border-radius: 4px;

}


.LargeInput-input {
    width: 798px;
    height: 48px;
    background-color: transparent;
    border: none;
    border-radius: 4px;


}