.cv--div {
    display: flex;
    min-height: 100vh;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.cv--main-div {
    position: relative;
    display: flex;
    width: 822px;
    height: 1080px;
    justify-content: space-between;
    margin: auto;
    border: 0.8px solid #000000;
    margin-top: 54px;
    margin-bottom: 129px;




}

.cv-section--1 {
    display: flex;
    flex-direction: column;
    inline-size: 300px;
    margin-left: 80px;

}

.cv--img {
    display: flex;
    margin-right: 80px;
}

.Logo--cv {
    position: absolute;
    bottom: 44px;
    left: 78px;

}

.congratulate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 427px;
    height: 167px;
    left: 1423px;
    top: 53px;

    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.congrats-note {
    width: 350px;
    height: 78px;
}

.vector {

    position: absolute;


    Width: 13.13px;
    Height: 13.13px;
    Top: 7px;
    right: 7px;
}

.back-btn-cv {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #F9F9F9;


    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    left: 48px;
    top: 45px;
   
    border-radius: 50%;
    border: none;
    font-size: 20px;
}