.exp-section {
    display: flex;
    flex-direction: column;
    width: 1098px;
    min-height: 100vh;
    background-color: #F9F9F9;

}

.exp-section-div {
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    align-items: center;
    justify-content: center;
}

/* header */
.header--div {
    display: flex;
    flex-direction: row;
    width: 905px;
    height: 41px;
}

.hd-1 {
    display: flex;
    flex-direction: column;

}

.hd-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 798px;
    margin-left: 61px;
    height: 41px;
}

.hd-hr {
    width: 798px;
    margin-left: 61px;
    border: 1px solid #1A1A1A;
}

.hd-h2 {
    display: flex;

    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 29px;
    font-variant: small-caps slashed-zero;

}

/*  data */
.start-data-input {
    color: rgba(0, 0, 0, 0.6);
    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    margin-top: 8px;
}


.end-data-input {

    width: 371px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    margin-top: 8px;
}

.dates {
    display: flex;
    flex-direction: row;
    width: 798px;
    justify-content: space-between;
}

.data--div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 20px
}

.startDate {
    width: 371px;
    height: 21px;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    color: #000000;

}

.endDate {
    width: 371px;
    height: 21px;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    color: #000000;

}

/* ------------------------------- */

/* description */
.Description-input {
    width: 798px;
    height: 123px;
    resize: vertical;
    word-wrap: break-word;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
   
}

/* .Description-input {
    width: 798px;
    resize: vertical;
  
    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
    word-wrap: break-word;
  } */
.Description-div {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.Description-h2 {
    width: 798px;
    height: 21px;

    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 8px;
}

/* ---------------- */

.btn--section--div {
    display: flex;

    width: 787px;

    margin-top: 45px;

}

.hr-2 {
    display: flex;
    margin-top: 58px;
    width: 798px;
    border: 1px solid #C1C1C1;
}

.add-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 149px;
    width: 289px;
    height: 48px;
    background: #62A1EB;
    border-radius: 4px;
    border: none;
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.btn-section {
    display: flex;
    align-items: center;
    width: 1098px;
    justify-content: center;
    margin-top: 115px;

}

.button-section-div {
    display: flex;
    width: 798px;
    justify-content: space-between;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 48px;
    background: #6B40E3;
    border-radius: 4px;
    border: none;

    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #FFFFFF;

}

.back-button:hover {
    background: #7949FF;
}

.back-button:focus {
    background: #512FAF;
}

.next--button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    height: 48px;
    background: #6B40E3;
    border-radius: 4px;
    border: none;

    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    color: #FFFFFF;

}

.next--button:hover {
    background: #7949FF;
}

.next--button:focus {
    background: #512FAF;
}